[Unit]
Description=Gonder- mass email sender
After=mariadb.service mysql.service multi-user.target network.target

[Service]
User=%i
WorkingDirectory=~
ExecStart=/home/%i/gonder -c config.ini
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
Restart=always

[Install]
WantedBy=multi-user.target
