[Unit]
Description=Gonder

[Service]
User=gonder
ExecStart=/home/gonder/gonder
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
InaccessibleDirectories=/sys
PrivateDevices=true
ProtectSystem=full