{{template "header".}}

<div class="page-header">
    <a href="/mailer/campaign/edit/{{.recipient.CampaignId}}">Edit campaign</a>
    |
    <a href="/mailer/recipients/{{.recipient.CampaignId}}">Manage recipients</a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <caption>
            Recipient: {{.recipient.Name}} <{{.recipient.Email}}>
        </caption>
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {{range $k, $r := .params}}
            <tr>
                <td>{{$k}}</td>
                <td>{{$r}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{template "footer".}}