{{template "header".}}

<div class="page-header">Settings</div>

<!--form class="form-horizontal" method="POST">
    <fieldset>

        <div class="form-group">
            <label class="col-md-2 control-label" for="name">New group</label>
            <div class="col-md-8">
                <input id="name" name="name" type="text" placeholder="Group name" class="form-control input-md">
            </div>
            <div class="col-md-2">
                <input type="submit" name="add" class="btn btn-success" value="Add">
            </div>
        </div>

    </fieldset>
</form-->

<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <td>Name</td>
        <td>Interface</td>
        <td>Host name</td>
        <td>Streams count</td>
        <td>Delay</td>
        <td><a href="#profile" role="button" data-toggle="modal" onclick="editProfile(0)"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
    </tr>
    </thead>
    <tbody>
    {{range $i := .ifaces}}
    <tr>
        <td>{{$i.Name}}</td>
        <td>{{$i.Iface}}</td>
        <td>{{$i.Host}}</td>
        <td>{{$i.Stream}}</td>
        <td>{{$i.Delay}}</td>
        <td>
            <a href="#profile" role="button" data-toggle="modal" onclick="editProfile('{{$i.Id}}')"><span class="glyphicon glyphicon-edit"></span></a>
        </td>
    </tr>
    {{end}}

    </tbody>
</table>

<div id="profile" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" method="POST">
                <fieldset>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Profile</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="profileName">Name</label>
                            <div class="col-md-6">
                                <input id="profileName" name="profileName" type="text" value="" placeholder="" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="profileIface">Interface</label>
                            <div class="col-md-3">
                                <select id="profileIface" name="profileIface" class="form-control" onchange="socksServerInput()">
                                    {{range $i := .ip}}
                                    <option value="{{$i}}">{{$i}}</option>
                                    {{end}}
                                    <option value="socks://">socks://</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input id="profileServer" name="ProfileServer" type="text" value="" placeholder="ip:port" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="profileHost">Host</label>
                            <div class="col-md-6">
                                <input id="profileHost" name="profileHost" type="text" value="" placeholder="" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="profileStreams">Streams count</label>
                            <div class="col-md-2">
                                <input id="profileStreams" name="profileStreams" type="text" value="" placeholder="" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="profileDelay">Delay</label>
                            <div class="col-md-2">
                                <input id="profileDelay" name="profileDelay" type="text" value="" placeholder="" class="form-control input-md">
                            </div>
                        </div>

                        <input id="profileId" name="profileId" type="hidden" value="" >

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="saveProfile()">Save</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>

{{template "footer".}}
