{{template "header".}}

<form class="form-horizontal" method="POST" action="/unsubscribe">
    <input id="campaignId" name="campaignId" type="hidden" value="{{.campaignId}}">
    <input id="recipientId" name="recipientId" type="hidden" value="{{.recipientId}}">
    <div class="box">
        <div class="unit">Нажмите на кнопку "Отписаться", чтобы подтвердить своё желание отписаться</div>
        <div><button id="unsubscribe" name="unsubscribe" class="btn btn-success">Отписаться</button></div>
        <div></div>
    </div>
</form>

{{template "footer".}}